<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить книгу</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:action="@{/books}">Библиотека</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/authors}">Авторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/genres}">Жанры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/publishers}">Издатели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Выйти</a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav ml-auto">
        <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userInfoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span sec:authentication="name">User</span> (<span sec:authentication="principal.authorities[0].authority">Role</span>)
            </a>
            <div class="dropdown-menu" aria-labelledby="userInfoDropdown">
                <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">Выйти</a>
            </div>
        </li>
        <li sec:authorize="!isAuthenticated()" class="nav-item">
            <a class="nav-link" th:href="@{/login}">Войти</a>
        </li>
    </div>
</nav>

<div class="container mt-4">
    <h2>Добавить книгу</h2>
    <form th:action="@{/books/add}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Название книги">
        </div>
        <div class="form-group">
            <label for="authorId">Автор</label>
            <select class="form-control" id="authorId" name="authorId">
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fio}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="genreId">Жанр</label>
            <select class="form-control" id="genreId" name="genreId">
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="publisherId">Издатель</label>
            <select class="form-control" id="publisherId" name="publisherId">
                <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="year">Год издания</label>
            <input type="text" class="form-control" id="year" name="year" placeholder="Год издания книги">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn" name="isbn" placeholder="ISBN книги">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="image">Обложка</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="pageCount">Количество страниц</label>
            <input type="number" class="form-control" id="pageCount" name="pageCount" placeholder="Количество страниц книги" min="1">
        </div>
        <button type="submit" class="btn btn-primary">Добавить книгу</button>
    </form>
</div>
</body>
</html>